header {
    display: flex;
    height: 50px;
    nav {
        display: block;
        display: flex;
        width: 20%;
        a {
            display: block;
            display: flex;
            width: 100%;
            i {
                margin: auto;
            }
        }
        & + .title__header {
            padding-right: 14%;
        }
    }
    @media only screen and (min-width: 481px) {
        height: 75px;
        i{
            font-size: 1.25em;
        }
        .title{
            font-size: 2.4em;
        }
    }
}

.title
{
    &__header {
        font-size: 1.9em;
        text-align: center;
        width: 100%;
        margin: auto;
    }
}

