@include res_preview_assign;

#restaurants {
    width: 100%;
    background-color: $lightgrey;
    padding-top: 30px;
    h2 {
        margin-left: 5%;
        @media only screen and (min-width: 1080px) {
            padding-bottom: 20px;
            @include myFlexCenter;
            margin-left: 0;
        }
    }
}

.res_card_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    @media only screen and (min-width: 1080px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.res_card {
    display: block;
    height: 254px;
    margin-bottom: 30px;
    border-radius: 20px;
    @include myShadow;
    &_preview {
        position: relative;
        height: 176px;
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 78px;
        border-radius: 0 0 20px 20px;
        &_text {
            display: flex;
            flex-direction: column;
            margin-left: 4%;
            &_name {
                font-weight: bold;
                font-size: 1.2em;
            }
        }
        &_heart {
            margin-right: 8%;
        }
    }
    &_new {
        @include myFlexCenter;
        position: absolute;
        top: 12px;
        right: 12px;
        height: 30px;
        width: 80px;
        font-weight: bold;
        color: darken(map-get($chart-colors, tertiary), 43%);
        background-color: map-get($chart-colors, tertiary);
        border-radius: 3px;
    }
    &:hover{
        transform: scale(1.0125);
        transition-duration: 0.15s;
    }
    @media only screen and (min-width: 1080px) {
        width: 40%;
    }
}

