@font-face {
  font-family: "robotoregular";
  src: url("../../public/fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../../public/fonts/Shrikhand-Regular/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", Arial, Verdana, Helvetica, sans-serif;
  color: #000;
}

.title {
  font-family: "shrikhandregular", Arial, Verdana, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 220px;
  color: #FFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}
#about .btn {
  margin: 16px 0 60px 0;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#ff88de, #9b63df);
}

.fav_btn {
  position: relative;
  height: 21px;
  width: 23px;
  font-size: 1.5em;
}
.fav_btn_filled {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  transition: opacity 250ms;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}
.fav_btn_empty {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 1;
  transition: opacity 250ms;
}
.fav_btn:hover {
  cursor: pointer;
}
.fav_btn:hover .fav_btn_filled {
  opacity: 1;
}
.fav_btn:hover .fav_btn_empty {
  opacity: 0;
}

input[type=submit] {
  border: none;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}

header {
  display: flex;
  height: 50px;
}
header nav {
  display: block;
  display: flex;
  width: 20%;
}
header nav a {
  display: block;
  display: flex;
  width: 100%;
}
header nav a i {
  margin: auto;
}
header nav + .title__header {
  padding-right: 14%;
}
@media only screen and (min-width: 481px) {
  header {
    height: 75px;
  }
  header i {
    font-size: 1.25em;
  }
  header .title {
    font-size: 2.4em;
  }
}

.title__header {
  font-size: 1.9em;
  text-align: center;
  width: 100%;
  margin: auto;
}

.location_container {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0 8px 6px -6px #a3a3a3;
}
.location_container .location_icon {
  width: 10%;
  display: flex;
}
.location_container .location_icon i {
  color: #353535;
  margin: auto;
}
.location_container .location_text {
  padding-right: 10%;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
#about h1 {
  width: 66%;
  margin: 30px 0 -6px 0;
}
#about p {
  color: #353535;
}

#fonctionnement h2 {
  margin-left: 7%;
}
@media only screen and (min-width: 600px) {
  #fonctionnement h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    margin-left: 0;
  }
}

.directive_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
@media only screen and (min-width: 600px) {
  .directive_list_container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.directive_container {
  display: flex;
  align-items: center;
  height: 70px;
  width: 80%;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  border-radius: 15px;
}
.directive_container p {
  font-weight: bold;
  margin-left: 15px;
}
.directive_container:hover {
  background-color: #f2eafb;
}
.directive_container:hover .directive_icon {
  color: #9356DC;
}
@media only screen and (min-width: 600px) {
  .directive_container {
    min-width: 460px;
    width: 50%;
    margin: 0 3% 20px 3%;
  }
}
@media only screen and (min-width: 1080px) {
  .directive_container {
    min-width: 0;
    width: 24%;
  }
}
.directive_number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  margin: 0 15px 0 -15px;
  color: #FFF;
  border-radius: 50%;
  background-color: #9356DC;
}
.directive_icon {
  color: #7e7e7e;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

.res_img_lpg {
  background: url("../../public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.res_img_lne {
  background: url("../../public/img/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.res_img_lds {
  background: url("../../public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.res_img_alf {
  background: url("../../public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
}
#restaurants h2 {
  margin-left: 5%;
}
@media only screen and (min-width: 1080px) {
  #restaurants h2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

.res_card_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 1080px) {
  .res_card_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.res_card {
  display: block;
  height: 254px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.res_card_preview {
  position: relative;
  height: 176px;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.res_card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  border-radius: 0 0 20px 20px;
}
.res_card_info_text {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
.res_card_info_text_name {
  font-weight: bold;
  font-size: 1.2em;
}
.res_card_info_heart {
  margin-right: 8%;
}
.res_card_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  height: 30px;
  width: 80px;
  font-weight: bold;
  color: #237c66;
  background-color: #99E2D0;
  border-radius: 3px;
}
.res_card:hover {
  transform: scale(1.0125);
  transition-duration: 0.15s;
}
@media only screen and (min-width: 1080px) {
  .res_card {
    width: 40%;
  }
}

.menu_preview {
  width: 100%;
  height: 256px;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 1080px) {
  .menu_preview {
    height: 300px;
  }
}

#menu_display {
  width: 100%;
  padding-top: 10px;
  margin-top: -40px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
#menu_display .menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8% 0 3%;
}
@media only screen and (min-width: 600px) {
  #menu_display .menu_top {
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  #menu_display .menu_top h1 {
    font-size: 2.4rem;
    padding-right: 50px;
    padding-left: 50px;
  }
}

form {
  margin: 0 3% 0 3%;
}
form .order_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 1080px) {
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

fieldset {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  fieldset {
    width: 70%;
    margin: 0 auto 30px auto;
  }
}
@media only screen and (min-width: 1080px) {
  fieldset {
    width: 30%;
    margin: 0 0 30px 0;
  }
}

legend {
  display: block;
  height: 30px;
  margin-bottom: 10px;
}
legend[class=bottom_border] {
  position: relative;
}
legend[class=bottom_border]::after {
  position: absolute;
  left: 2px;
  bottom: 2px;
  display: block;
  width: 40px;
  content: "";
  border-bottom: 2px solid #99E2D0;
}

input[type=radio] {
  display: none;
}
input[type=radio] + label:hover {
  cursor: pointer;
}
input[type=radio]:checked + label .food_info_container {
  width: 83%;
}
input[type=radio]:checked + label .food_anim {
  transform: translateX(-99%);
}
input[type=radio]:checked + label .logo_anim {
  transform: rotate(0deg);
}

.food_container {
  display: block;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  border-radius: 14px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  position: relative;
  overflow: hidden;
}

.food {
  display: block;
}
.food_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  margin-right: 3%;
  width: 82%;
}
.food_info_title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food_info_desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food_price {
  font-weight: bold;
  width: 10%;
  padding-top: 34px;
}

.food_info_container {
  display: block;
  display: flex;
  margin: 0;
  width: 100%;
  transition: width 350ms ease-in-out;
}

.food_anim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -17%;
  top: 0;
  height: 68px;
  width: 17%;
  border-radius: 0 14px 14px 0;
  background-color: #99E2D0;
  transition: 300ms ease-in-out 50ms;
}
.food_anim .logo_anim {
  display: inline-block;
  font-size: 1.25em;
  color: #FFF;
  transform: rotate(-180deg);
  transition: 175ms ease-in-out 175ms;
}

footer {
  width: 100%;
  background-color: #353535;
  color: #FFF;
}
@media only screen and (min-width: 481px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title__footer {
  font-size: 1.4em;
  margin-left: 5%;
  padding-top: 30px;
}
@media only screen and (min-width: 481px) {
  .title {
    margin-left: 0;
  }
}

.footer_link_list {
  margin: 20px 0 0 5%;
  padding-bottom: 40px;
}
@media only screen and (min-width: 481px) {
  .footer_link_list {
    margin-left: 0;
  }
}

.footer_link {
  margin-bottom: 8px;
}
.footer_link_logo {
  display: block;
  display: flex;
  align-items: center;
  width: 24px;
  float: left;
  font-size: 0.9em;
  padding-top: 3px;
  margin-right: -3px;
}
.footer_link_logo--small {
  font-size: 0.7em;
  padding-top: 6px;
}
@media only screen and (min-width: 481px) {
  .footer_link {
    display: flex;
    justify-content: center;
  }
}

.food_container:nth-child(3) {
  opacity: 0;
  animation: menu_anim 300ms 60ms forwards;
}

.food_container:nth-child(5) {
  opacity: 0;
  animation: menu_anim 300ms 100ms forwards;
}

.food_container:nth-child(7) {
  opacity: 0;
  animation: menu_anim 300ms 140ms forwards;
}

@keyframes menu_anim {
  0% {
    transform: translateY(12px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
