.btn {
    @include myFlexCenter;
    height: 50px;
    width: 220px;
    color: #FFF;
    background: $purplegradient;
    border-radius: 30px;
    @include myShadow;
    #about & {
        margin: 16px 0 60px 0;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.4);
        background: $lightpurplegradient;
    }
}

.fav_btn {
    position: relative;
    height: 21px;
    width: 23px;
    font-size: 1.5em;
    &_filled {
        position: absolute;
        top: -1px;
        left: -1px;
        opacity: 0;
        transition: opacity 250ms;
        background: $purplegradient;
        -webkit-background-clip: text;
        color: transparent;
    }
    &_empty {
        position: absolute;
        top: -1px;
        left: -1px;
        opacity: 1;
        transition: opacity 250ms;
    }
    &:hover {
        cursor: pointer;
        .fav_btn_filled {
            opacity: 1;            
        }
    
        .fav_btn_empty {
            opacity: 0;
        }
    }
}

input[type="submit"] {
    border: none;
    font-size: 1.1rem;
    letter-spacing: .02rem;
}