.btn {
    @include myFlexCenter;
    height: 50px;
    width: 220px;
    color: #FFF;
    background: $purplegradient;
    border-radius: 30px;
    @include myShadow;
    #about & {
        margin: 16px 0 60px 0;
    }
    &:hover {
        cursor: pointer;
    }
}